body {
  background: blue;
  font-family:Arial, Helevtica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: lightgrey;
  text-algin:center;
  width: 100%;
  display: block;
}
h1:hover {
  color: darkgreen; 
  text-align: center;
  width: 100%;
  display: block;
}
a:hover {
  text-decoration: none; /* remove underlining on anchor tags */
  color: lightgold; /* pick the color you want */ 
}
.assign {
  background-color: lightblue;
  margin: 10px;
  padding: 10px
  border-radius: 20px;
  width: 20%;
  box-shadow: 8px 8px brown;
  display: block;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid midnightblue; /* try dashed, dotted */
}
.assign img:hover {
  width: 200px;
  margin: 10px;
  border: 2px solid darkgrey; /* try dashed, dotted */
}

