body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c64949;
}
h1 {
    color: darkslategray;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.column {
    flex: 1;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.column2 {
    flex: 1;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}
.star {
    width: 20px;
    height: 20px;
    background-color: yellow;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
}


.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out;
}

.image-container img:hover {
    transform: rotate(360deg);
}

.stars {
    cursor: pointer;
}


@media (max-width: 600px) {
    .column {
        flex: 100%;
    }
    .column2 {
        flex:100%;
    }
}



