body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.parallax {
  height: 100%;
  opacity: 0.65;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* So we can center content inside */
}
.info-section {
    background-color: #595a5c;
    font-size: 36px;
    flex: 1;
    color: white;
  }
  
  .info-section section {
    padding: 0 10px;
    margin: 0 10px;
    flex: 1;
  }
  
  img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .info-section img {
    max-width: 300px;
  }
  
  .text-center p {
    width: 60%;
    margin: auto;
  }
  
  /* Main Menu */
  #main-menu {
    z-index: 1;
    background-color: #595a5c;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #main-menu ul {
    float: right;
    overflow: hidden;
    margin-right: 2%;
  }
  
  #main-menu li {
    list-style-type: none;
    display: inline-block;
  }
  
  #main-menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .info-section form {
    margin-right: 10px;
  }
  
  /* Form */
  form {
    margin: 0 2%;
  }
  
  form label {
    font-size: 0.75em;
    display: block;
  }
  
  form input:not([type="checkbox"]):not([type="radio"]),
  form textarea,
  form button,
  select {
    font-size: 0.75em;
    width: 200px;
    padding: 5px;
  }
  /* Typography */
.parallax h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    font-size: 5em;
  }
  
  .parallax h3 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    top: 25%;
    font-size: 3em;
  }
  
  .down-arrow {
    text-decoration: none;
    color: white;
    font-size: 3em;
  }
  
  .info-section h3 {
    text-align: center;
  }
  .hidden {
    display: none;
  }
  /* Book Form Styling */
.book-form {
  background-color: var(--primary-color);
  color: var(--main-text-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-form h3 {
  color: var(--text-color);
  margin-bottom: 15px;
}

.book-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-color);
}

.book-form input[type="text"],
.book-form input[type="email"],
.book-form input[type="date"],
.book-form select,
.book-form button {
  width: calc(20% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.book-form button[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  border-style: double;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-form button[type="submit"]:hover {
  background-color:var(--text-color);
}

.hidden {
  display: none;
}
/*2 second pop up*/
#success-message {
  background-color: var(--text-color);
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}

#success-message p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

#success-message::before,
#success-message::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
}

#success-message::before {
  top: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#success-message::after {
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#success-message.hidden {
  display: none; /* Hide by default */
}


.hidden {
  display: none;
}


  /* Larger resolutions */
@media only screen and (min-width: 600px) {
    .columns {
      display: flex;
      justify-content: center;
    }
    .flex2 {
      flex: 2;
    }
  
    .flex1 {
      flex: 1;
    }
  }
  
  /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }