:root {
    --square-top:0px;
    --ball-color: blue;
}
body {

    font-family: Arial, Helvetica, sans-serif;
    background: lightgray;
}


/* Structure */

#content {
    background: #fff;
    padding: 5px;
    width: 80%;
    /* center horizontally */
    margin: auto;
    border-radius: 5px;
}
#square {
    width :100px;
    height: 100px;
    border:1px solid black;
    position: relative; 
    top: var(--square-top);
}
.rainbow {
    animation-name: colorAnim;
    animation-duration: 4s;
}

.circle {
    background: var(--ball-color);
    width:25px;
    height:25px;
    border-radius: 25px;
   
}


#strawberry {
    max-width: 20%;
}

.hidden {
    display: none;
}


/* Typography */

h1 {
    color: darkslategray;
}

.special {
    background: lightpink;
    size: 2em;
    color: magenta;
    border: 2px dotted magenta;
}
@keyframes colorAnim {
    0% {
        background-color: red;
    }
    20% {
        background-color: black
    }
}