
:root {
    --primary-color: #1f3b3d;
    --secondary-color: #014040;
    --text-color: #C2B84E;
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: 'Flamenco', cursive;
    margin: 0;
}
.content {
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
    flex: 1;
    margin: 80px;
    border-radius: 10px;
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
}
/*===Structure===*/
h1 {
    text-align: center;
    color: #edeaca;
}
h2 {
    text-align: center;
    color: var(--text-color);
}
h3{
    text-align: center;
    color: #e1dca7;

}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

article img {
    max-width: 100%;
    height: auto;
    margin:5px;
    border: 5px solid #014040; 
    margin-bottom: 15px;
    box-sizing:border-box;
}

/*Larger Rsolution*/
.container {
    display: flex;
    max-width: 100px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #bfb64e;
}
.container footer {
    padding: 20px;
}

ul li {
    margin-left: 0;
    padding-left: 20px;
    text-align: left;
}
#command-column {
    text-align: center;
    margin: auto;
}
#command-box {
    padding: 0;
    width: 75%;
    margin: auto;
    color: #96aeb4;
    border: 2px solid #bfb64e;
}
#command ul {
    padding: 0;
    margin: 0; 
}

#command ul li {
    list-style: none; 
}
/* Hamburger Menu */
#nav-toggle {
    display: block;
    cursor: pointer;
    
}
#nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 100px;
}

#nav-toggle div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}
/*=== Nav===*/
#main-nav {
    position: relative; 
}
#menu-bttn-txt {
    padding: 0;
    margin: 0;
}


#main-nav-items {
    display:flex;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #0d1c1f;
    border-radius: 5px;
    padding: 10px;
}

#main-nav-items.active {
    display: block;
}

#main-nav-items li {
    margin: 0;
    padding: 5px 0;
    text-align: center;
}
#nav-space {
    background-color:#0d1c1f;
    color: var(--secondary-color);
    padding-left: 0px;
    list-style-type: none;
}
#main-nav h1 {
   color: var(--text-color);
}

#main-list {
    text-decoration: none;
    color: #04090a;
}
#main-nav-items a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
#main-nav-items a:hover {
    background-color: #787231;
}

#nav li {
    margin-right: 20px;
    background-color: #787231;
    padding:10px;
    margin: 2px 0;
}
#command-btn{
    background-color: #787231;
}
#yoga-btn {
    background-color: #787231;
}

/*YOGA*/
#yoga-slider {
    appearance: none;
    width: 100%;
    height: 25px;
    margin-top: 0;
    background: #4c6264;
    border: 2px solid #bfb64e;
}
/*w3school*/
#yoga-slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 20px;
    height: 20px;
    background: #2c5d69;
    cursor: pointer;
}

/*For Firefox help idea*/
#yoga-slider::-moz-range-thumb {
    appearance: none;
    border-radius: 0;
    border: 0;
    width: 25px;
    height: 25px;
    background: #4c6264;
    cursor: pointer;
}
#yoga-img {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom: 0;
}

/* Images */
#command-img {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}



/* Images */
#ifs img {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px;
}




/* Media Queries */
@media (max-width: 900px) {
    .content {
        display: flex;
    }

    #nav {
        margin: auto;
    }

    #nav-space {
        width: 100px;
        margin: auto;
    }

    #menu-button {
        display: none;
    }

    #nav-list {
        display: flex;
        padding: 0;
    }

    #nav-list li {
        text-align: center;
    }

    #nav-list li:last-child::after {
        content: none;
    }

    #nav-list li::after {
        color: var(--secondary-color);
    }
    #nav-list{
        display:none;
    }
   
    
}
